/* style */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

/* ~ Elements ~ */
a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

ul {
	list-style: none;
}

/* SHARED */
.horz-center {
	width: 50%;
	margin: auto;
}

.item-center {
	text-align: center;
}

.flex-columns {
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: 90vh;
}

.flex-rows {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
}

/* ~ BASE ~ */
.ender {
	background-color: #e1ee32;
	color: rgb(1, 166, 92);
	min-height: 60px;
	display: flex;
}

ul#navbar,
ul#footbar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	padding: 0;
}

#header {
	top: 0;
	left: 0;
	width: 100%;
}

#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.nav-item {
	width: 52px;
	text-align: center;
}

/* ~ HOME ~ */

#hero {
	min-height: 0vh;
	height: 40%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('./public/hero-image.webp');
}

.food-grid {
	width: 100%;
	height: 80px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.food-square {
	width: 300px;
	height: 300px;
	border-style: solid;
	border-color: #4abfbf;
	border-width: 6px;
	margin: 4px;
}

/* EATS */

#menu {
	margin-top: 8px;
	margin-bottom: 8px;
}

#col-1,
#col-2 {
	margin: 12px;
	padding: 8px;
}

.menu-block {
	margin: 8px;
	background-color: aqua;
	opacity: 0.7;}